    <div class="header">
        {% if directoryLogo is defined and directoryLogo != "" %}
            <a href="{{ path('home') }}">
                <img alt="{{ directoryTitle }} Logo" class="logo" src="{{ asset(directoryLogo) }}" />
            </a>
        {% endif %}
        <h2>{{ directoryTitle }}</h2>
        <div style="clear: both; line-height: 0px;">&nbsp;</div>
    </div>

    <div class="navbar">
        <div class="navbar-inner">
            {{ knp_menu_render(directoryMenuBuilder, {'currentClass' : 'active', 'depth' : 1 } ) }}

            {% include 'CCETCDirectoryBundle:Directory:_user_menu.html.twig' %}                
        </div>
    </div>
