{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block logo %}
    {{ parent() }}
    <ul class="nav">
        <li>
            <a href="{{ url('home') }}">
                <i class="icon-arrow-left"></i> View Site
            </a>
        </li>

        <li>
            <p class="navbar-text">
                Logged in as {{ app.user.username }}, 

                {% if registrationSetting != 'none' %}
                    <a href="{{ path('fos_user_security_logout') }}">Log out</a>
                {% else %}
                    <i>Close your browser to log out</i></p>
                {% endif %}
        </li>
    </ul>
{% endblock %}