{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    {% if listings|length > 0 %}
        <div class="alert alert-block alert-info">
            <h3>{{ listings|length }} {{ listings|length == 1? (translationKey)|capitalize|trans({}, "messages") ~ ' needs' : (translationKey ~ 's')|capitalize|trans({}, "messages") ~ ' need'}} approval</h3>
            <ul>
                {% for listing in listings %}
                    <li>{{ listing }}</li>
                {% endfor %}
            </ul>
            <br/>
            <a href="{{ listingAdmin.generateUrl('list') ~ '?filter%5Bstatus%5D%5Btype%5D=&filter%5Bstatus%5D%5Bvalue%5D=new' }}" class="btn btn-large"><i class="icon-search"></i> View and Approve</a>
        </div>
    {% endif %}
    {% if reapprovalListings|length > 0 %}
        <div class="alert alert-block alert-info">
            <h3>{{ reapprovalListings|length }} {{ reapprovalListings|length == 1? (translationKey)|capitalize|trans({}, "messages") ~ ' has been edited and needs' : (translationKey ~ 's')|capitalize|trans({}, "messages") ~ ' have been edited and need'}} re-approval</h3>
            <ul>
                {% for listing in reapprovalListings %}
                    <li>{{ listing }}</li>
                {% endfor %}
            </ul>
            <br/>
            <a href="{{ listingAdmin.generateUrl('list') ~ '?filter%5Bstatus%5D%5Btype%5D=&filter%5Bstatus%5D%5Bvalue%5D=edited' }}" class="btn btn-large"><i class="icon-search"></i> View and Re-Approve</a>
        </div>
    {% endif %}
{% endblock %}
