{% extends layoutTemplate %}

{% block page_header %}
	<h1>{{ page.parent is defined and page.parent.heading is defined? page.parent.heading : page.heading }}</h1>
{% endblock %}

{% block title %}{{ page.metaTitle }} | {{ parent() }}{% endblock %}

{% block meta_description %}
	{% if page.metaDescription is defined and page.metaDescription != "" %}
		{{ page.metaDescription }}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block content %}
    {% if userIsAdmin %}
        <a href="{{ pageAdmin.generateObjectUrl('edit', page ) }}" class="btn large pull-right"><i class="icon-pencil"></i> Edit Page</a>
    {% endif %}

    <div class="row">

    {% if page.isChild or page.isParent %}
    	<div class="span3">
    		{% if page.parent.heading is defined %}
    			{% set parentMenuItem = page.parent.heading %}
			{% else %}
				{% set parentMenuItem = page.heading %}
			{% endif %}

			{% set menuItem = knp_menu_get(directoryMenuBuilder, [parentMenuItem]) %}

			{{ knp_menu_render([directoryMenuBuilder, parentMenuItem], {'currentClass' : 'active'} ) }}

		</div>
	{% endif %}

	<div class="span{{ page.isChild or page.isParent  ? '9' : '12' }}">
		{% if page.isChild %}<h3>{{ page.heading }}</h3>{% endif %}
		{{ page.content|raw }}
	</div>

	</div>
{% endblock content %}