<html>
    <a href="mailto:{{ listing.primaryEmail }}">{{ listing }}</a> edited their Listing on {{ directoryTitle }}.<br/><br/>
    Approve their changes here: <a href="{{ link }}">{{ link }}</a>
</html>