<form action="{{ path(listingType.listingsRouteName) }}" method="GET">
    <h4>Find a {{ listingType.translationKey|capitalize|trans }}</h4>
    <h4>within</h4>
    <span>
        <select name="filter[location][type]" class="miles">
            <option>25</option>
            <option>50</option>
            <option>75</option>
            <option>100</option>
        </select>
    </span>
    <h4>miles of</h4>
    <input name="filter[location][value]" placeholder="your zip or address" />
    {% if attributes is defined %}
        <h4>that sells</h4>
        <span>
            <select name="filter[{{ attributeFieldName }}][value]">
              <option value="">anything</option>
              {% for attribute in attributes %}
                <option value="{{ attribute.id }}">{{ attribute.name }}</option>
              {% endfor %}
            </select>           
        </span>
    {% endif %}

    <div class="pull-right">
        <button id="find-a-listing-submit" type="submit" class="btn"><i class="icon-search"></i> Search</button>
    </div>
    <div style="clear: both; line-height: 0;">&nbsp;</div>
</form>