<form action="{{ path('listings') }}" method="GET">
    <h4>Find a {{ 'Listing'|trans }}</h4>
    <h4>within</h4>
    <span>
        <select name="filter[location][type]" class="miles">
            <option>25</option>
            <option>50</option>
            <option>75</option>
            <option>100</option>
        </select>
    </span>
    <h4>miles of</h4>
    <input name="filter[location][value]" placeholder="your zip or address" />
    {% if includeProducts %}
        <h4>that sells</h4>
        <span>
            <select name="filter[products][value][]" class="products">
              <option value="">any Product</option>
              {% for product in products %}
                <option {{ filters.product is defined and filters.product == product.id ? 'selected' : ''}} value="{{ product.id }}">{{ product.name }}</option>
              {% endfor %}
            </select>           
        </span>
    {% endif %}

    <div class="pull-right">
        <button type="submit" class="btn">{{ filters is defined and filters != "" ? '<i class="icon-refresh"></i> Update' : '<i class="icon-search"></i> Search' }}</button>
        {% if filters is defined and filters != "" %}
            <a href="{{ path('listings') }}" class="btn"><i class="icon-remove"></i> Clear Search</a>
        {% endif %}
    </div>
    <div style="clear: both; line-height: 0;">&nbsp;</div>
</form>