{% if listing.contactName %}{{ listing.contactName }}<br/>{% endif %}
{% if listing.primaryEmail %}
    <a href="mailto:{{ listing.primaryEmail }}">{{ listing.primaryEmail }}</a>
    {% if listing.primaryEmailType %} ({{ listing.primaryEmailType }}){% endif %}
    <br/>
{% endif %}
{% if listing.secondaryEmail %}
    <a href="mailto:{{ listing.secondaryEmail }}">{{ listing.secondaryEmail }}</a>
    {% if listing.secondaryEmailType %} ({{ listing.secondaryEmailType }}){% endif %}
    <br/>
{% endif %}
{% if listing.primaryPhone %}
    {{ listing.primaryPhone }}
    {% if listing.primaryPhoneType %} ({{ listing.primaryPhoneType }}){% endif %}
    <br/>
{% endif %}
{% if listing.secondaryPhone %}
    {{ listing.secondaryPhone }}
    {% if listing.secondaryPhoneType %} ({{ listing.secondaryPhoneType }}){% endif %}
    <br/>
{% endif %}
{% if listing.website %}<a href="{{ listing.website }}" target="_blank">{{ listing.website }}</a><br/>{% endif %}
{% if listing.preferredMethodOfContact %}<br/><b>Preferred Method of Contact</b>: {{ listing.preferredMethodOfContact }}{% endif %}
    