<div class="listing-block-container {{ linkBlock? 'block-link' : '' }}">
    <div>
        <div class="listing-name">
            <h3>
                {% if linkBlock %}<a href="{{ path('profile', {'id' : listing.id }) }}">{% endif %}
                {{ listing.name }}
                {% if linkBlock %}</a>{% endif %}
            </h3>                             
        </div>
        <div style="clear: both; line-height: 0;">&nbsp;</div>    
    </div>

    <div>
        <span class="listing-location">
            <i class="icon-map-marker"></i>
            {{ listing.address }},
            {{ listing.city }} {{ listing.state }}
        </span>
    </div>
        
    {% if listing.descriptionPreview is defined and listing.descriptionPreview != ""%}    
        <div>    
            {{ listing.descriptionPreview }}
        </div>
        <br/>
    {% endif %}
        
{#    {% include 'CCETCDirectoryBundle:Directory:_listing_attribute_labels.html.twig' %} #}
        
    <br/>    
        
    <div class="btn-group pull-right">
        {% if is_granted("ROLE_ADMIN") %}
            <a class="btn edit-btn" href="{{ listingAdmin.generateObjectUrl('edit', listing) }}" ><i class="icon-pencil"></i> Edit</a> 
        {% endif %}
        {% if linkBlock %}<a class="btn view-btn" href="{{ path('profile', {'id' : listing.id }) }}" ><i class="icon-search"></i> View</a>{% endif %}
    </div>
    <div style="clear: both; line-height: 0;">&nbsp;</div>    
</div>