<h4>{{ listing.name }}</h4>
{% if listing.address is defined and listing.address != "" %}{{ listing.address }},{% endif %} {{ listing.city }} {{ listing.state }}<br/><br/>
<a class="btn" href="{{ path('profile', {'id' : listing.id }) }}"><i class="icon-search"></i> View</a>