{% extends layoutTemplate %}

{% block page_header %}
    {{ 'Listings'|trans({}, "messages") }}
{% endblock %}

{% block content %}
    <script type="text/javascript">
        var listingMapData = new Object;

        {% for listing in listings if listing.location.lat is defined and listing.location.lat != "" and listing.location.lng is defined and listing.location.lng != "" %}
            {% include 'CCETCDirectoryBundle:Directory:_listing_object.js.twig' %}
            listingMapData["{{listing.id}}"] = listing;
        {% endfor %}            

        var map;

        $(document).ready(function() {
            listingsMapInit();
        });    
    </script>
    
    {% if searchTerms is  defined and searchTerms != "" %}
        <div class="row">
            <div class="span12">
                <div class="alert alert-block alert-success">
                    <h4>Search for <i>{{ searchTerms }}</i> returned {{ listings|length }} result{{ listings|length == 1? '' : 's' }}.</h4><br/>
                    <a href="{{ path('listings') }}" class="btn"><i class="icon-remove"></i> Clear Search</a>
                </div>
            </div>
        </div>        
    {% endif %}
    
    <div class="row">
        <div class="span7">
            {% if listings|length > 0 %}
                {% for listing in listings %}
                    {% include 'CCETCDirectoryBundle:Directory:_listing_block.html.twig' with {'listing' : listing } %}
                {% endfor %}
            {% elseif searchTerms is not defined or searchTerms == "" %}
                <div class="alert alert-block">
                    <h4>We couldn't find any {{ 'listings'|trans({}, "messages") }}! Try expanding your Search</h4>
                </div>
            {% endif %}
        </div>
        <div class="span5">
            <h3>Filter Listings</h3>
            <form action="{{ url('listings') }}" method="GET">
                {% for filter in listingAdmin.datagrid.filters %}
                    <div class="filter {{ filter.isActive? 'active' : '' }}">
                        <div class="filter-title">{{ listingAdmin.trans(filter.label) }}</div>
                        <div class="filter-type" style="{{ filter.options.hideValue is defined and filter.options.hideValue ? 'display: none;' : '' }}">
                            {% if filter.name is defined and filter.name == 'location' %}
                                Within
                            {% endif %}
                            {{ form_widget(form.children[filter.formName].children['type']) }}
                        </div>
                        <div class="filter-value">
                            {% if filter.name is defined and filter.name == 'location' %}
                                miles of
                            {% endif %}
                            {{ form_widget(form.children[filter.formName].children['value']) }}
                        </div>
                        <div style="clear: both; line-height: 0px;">&nbsp;</div>
                    </div>
                {% endfor %}                        

                <input type="hidden" name="filter[_page]" id="filter__page" value="1" />

                {% set foo = form.children['_page'].setRendered() %}
                {{ form_rest(form) }}

                <div style="clear: both; line-height: 0px;">&nbsp;</div>

                <div>
                    <input type="submit" class="btn btn-primary" value="Update" />
                    <a class="btn" href="{{ url('listings', {filters: 'reset'}) }}">Clear</a>
                </div>
            </form>
            {% if listings|length > 0 %}            
                <div id="map-canvas" class="listings-map"></div>                
            {% endif %}
        </div>
    </div>
{% endblock %}