{% extends layoutTemplate %}

{% block page_header %}
    {{ 'Listings'|trans({}, "messages") }}
    <div class="page-btns btn-group">
        <a class="btn" href="javascript:if(window.print)window.print()" ><i class="icon-print"></i> Print</a> 
    </div>
{% endblock %}

{% block content %}
    {% include 'CCETCDirectoryBundle:Directory:_listings_map.js.twig' %}
    
    {% if searchTerms is  defined and searchTerms != "" %}
        <div class="row">
            <div class="span12">
                <div class="alert alert-block alert-success">
                    <h4>Search for <i>{{ searchTerms }}</i> returned {{ listings|length }} result{{ listings|length == 1? '' : 's' }}.</h4><br/>
                    <a href="{{ path('listings') }}" class="btn"><i class="icon-remove"></i> Clear Search</a>
                </div>
            </div>
        </div>        
    {% endif %}

    {% if not singleListing %}
        <div class="row">
            <div class="span12">
                <form action="{{ url('listings') }}" method="GET">
                    <div class="alert-block alert-info alert">
                        {% if listingAdmin.datagrid.hasActiveFilters %}
                            <div>
                                <h4>Search</h4>

                                {% for filter in listingAdmin.datagrid.filters if filter.isActive %}
                                    {% include 'CCETCDirectoryBundle:Directory:_filter.html.twig' %}
                                {% endfor %}
                                <div style="clear: both; line-height: 0px;">&nbsp;</div>
                            </div>
                        {% else %}
                            <div>
                                <h4>Search</h4>
                                {% for filter in listingAdmin.datagrid.filters if filter.options.isBasic is defined and filter.options.isBasic %}
                                    {% include 'CCETCDirectoryBundle:Directory:_filter.html.twig' %}
                                {% endfor %} 
                                <div style="clear: both; line-height: 0px;">&nbsp;</div>
                            </div>
                        {% endif %}
                        <br/>
                        <div class="more-filters-container" style="display: none;">
                            <h4>Advanced Search</h4>

                            {% for filter in listingAdmin.datagrid.filters
                                if (listingAdmin.datagrid.hasActiveFilters and not filter.isActive)
                                or
                                (not listingAdmin.datagrid.hasActiveFilters and (filter.options.isBasic is not defined or not filter.options.isBasic)) %}
                                    {% include 'CCETCDirectoryBundle:Directory:_filter.html.twig' %}
                            {% endfor %} 
                            <div style="clear: both; line-height: 0px;">&nbsp;</div>
                        </div>

                        <input type="hidden" name="filter[_page]" id="filter__page" value="1" />

                        {% set foo = form.children['_page'].setRendered() %}
                        {{ form_rest(form) }}

                        <div style="clear: both; line-height: 0px;">&nbsp;</div>

                        <br/>
                        <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Go</button>
                        {% if listingAdmin.datagrid.hasActiveFilters %}<a class="btn btn-link" href="{{ url('listings', {filters: 'reset'}) }}"><i class="icon-trash"></i>  Remove All</a>{% endif %}
                        <a class="btn less-filters-btn btn-link" style="display: none;" href="#"><i class="icon-remove"></i> Cancel</a>
                        <a class="btn more-filters-btn btn-link" href="#"><i class="icon-cog"></i> Advanced Search</a>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    
    
    
    <div class="row">
        <div class="span7">
            {% if listings|length > 0 %}
                {% for listing in listings %}
                    {% include 'CCETCDirectoryBundle:Directory:_listing_block.html.twig' with {'listing' : listing, 'linkBlock' : linkBlocks } %}
                {% endfor %}
            {% elseif searchTerms is not defined or searchTerms == "" %}
                <div class="alert alert-block">
                    <h4>We couldn't find any {{ 'listings'|trans({}, "messages") }}! Try expanding your Search</h4>
                </div>
            {% endif %}
            {% if listingAdmin.datagrid.pager.haveToPaginate() and not singleListing %}
                <tr>
                    <td colspan="{{ listingAdmin.list.elements|length }}">
                        <div class="pagination pagination-centered">
                            <ul>
                                {% if listingAdmin.datagrid.pager.page != 1  %}
                                    <li><a href="{{ path('listings', listingAdmin.modelmanager.paginationparameters(listingAdmin.datagrid, 1)) }}" title="{{ 'link_first_pager'|trans({}, 'SonataAdminBundle') }}">&laquo;</a></li>
                                {% endif %}

                                {% if listingAdmin.datagrid.pager.page != listingAdmin.datagrid.pager.previouspage %}
                                    <li><a href="{{ path('listings', listingAdmin.modelmanager.paginationparameters(listingAdmin.datagrid, listingAdmin.datagrid.pager.previouspage)) }}" title="{{ 'link_previous_pager'|trans({}, 'SonataAdminBundle') }}">&lsaquo;</a></li>
                                {% endif %}

                                {# Set the number of pages to display in the pager #}
                                {% set firstTile = listingAdmin.datagrid.pager.page - 4 %}
                                {% set lastTile = listingAdmin.datagrid.pager.page + 4 %}
                                    
                                {% for page in listingAdmin.datagrid.pager.getLinks() if (page > firstTile and page < lastTile)  %}
                                    {% if page == listingAdmin.datagrid.pager.page %}
                                        <li class="active"><a href="{{ path('listings', listingAdmin.modelmanager.paginationparameters(listingAdmin.datagrid, page)) }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="{{ path('listings', listingAdmin.modelmanager.paginationparameters(listingAdmin.datagrid, page)) }}">{{ page }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if listingAdmin.datagrid.pager.page != listingAdmin.datagrid.pager.nextpage %}
                                    <li><a href="{{ path('listings', listingAdmin.modelmanager.paginationparameters(listingAdmin.datagrid, listingAdmin.datagrid.pager.nextpage)) }}" title="{{ 'link_next_pager'|trans({}, 'SonataAdminBundle') }}">&rsaquo;</a></li>
                                {% endif %}

                                {% if listingAdmin.datagrid.pager.page != listingAdmin.datagrid.pager.lastpage  %}
                                    <li><a href="{{ path('listings', listingAdmin.modelmanager.paginationparameters(listingAdmin.datagrid, listingAdmin.datagrid.pager.lastpage)) }}" title="{{ 'link_last_pager'|trans({}, 'SonataAdminBundle') }}">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endif %}
            <div class="listings-meta">
                    <span>{{ listingAdmin.datagrid.pager.nbresults }} Listings</span>
                    <span>Page {{ listingAdmin.datagrid.pager.page }} of {{ listingAdmin.datagrid.pager.lastpage }}</span>
                    <span class="last">
                        Show 
                        <select class="per-page" id="{{ listingAdmin.uniqid }}_per_page" style="width: auto; height: auto; margin-bottom: 2px;">
                            {% for per_page in listingAdmin.getperpageoptions %}
                                <option {% if per_page == listingAdmin.datagrid.pager.maxperpage %}selected="selected"{% endif %} value="{{ path('listings', {'filter': listingAdmin.datagrid.values | merge({'_per_page': per_page})}) }}">
                                    {{ per_page }}
                                </option>
                            {% endfor %}
                        </select>

                        Per Page
                    </span>
            </div>
            {% if singleListing %}
                <div class="alert alert-block alert-info">
                    <h5>Viewing a Single Listing</h5>
                    <a href="{{ path('listings') }}" class="btn"><i class="icon-search"></i> View all</a>
                </div>
            {% endif %}                
        </div>
        <div class="span5">
            {% if listings|length > 0 %}            
                <div id="map-canvas" class="listings-map"></div>                
            {% endif %}
        </div>
    </div>
{% endblock %}