{% extends layoutTemplate %}

{% block page_header %}
    <div class="page-btns">
        <a href="{{ app.session.get('lastListingsUri')? app.session.get('lastListingsUri') : path(listingType.listingsRouteName) }}" class="btn pull-left"><i class="icon-arrow-left"></i> Back to {{ (listingType.translationKey ~ "s")|capitalize|trans({}, "messages") }}</a>
        <div class="btn-group pull-right">
            <a class="btn" href="javascript:if(window.print)window.print()" ><i class="icon-print"></i> Print</a> 
            {% if is_granted("ROLE_ADMIN") %}
                <a class="btn edit-btn" href="{{ listingAdmin.generateObjectUrl('edit', listing) }}" ><i class="icon-pencil"></i> Edit</a> 
            {% elseif app.user.listing.id is defined and app.user.listing.id == listing.id %}
                <a class="btn edit-btn" href="{{ path(listingType.editRouteName, {'id' : listing.id}) }}" ><i class="icon-pencil"></i> Edit</a> 
            {% endif %}
        </div>
        <div style="clear: both; line-height: 0px;">&nbsp;</div>
    </div>
{% endblock %}

{% block content %}
    {# comparing listing objects gets stuck is some recursive loop, just go by ids #}
    {% set userOwnsListing = app.user.id is defined and app.user.listing.id is defined and  app.user.listing.id == listing.id %}
        
    {% if listing.location.lat is defined and listing.location.lat != "" and listing.location.lng is defined and listing.location.lng != "" %}
        <script type="text/javascript">
            {% include 'CCETCDirectoryBundle:Directory:_profile_marker_object.js.twig' %}
                
            $(document).ready(function() {
                profileMapInit();
            });
        </script>
    {% endif %}

    {% include 'CCETCDirectoryBundle:Directory:_profile_messages.html.twig' %}

    {% if listing.status == "edited" and not userOwnsListing and not is_granted('ROLE_ADMIN') %}
        {{ listing.savedProfileContentHtml|raw }}
    {% else %}
        {% include profileContentTemplate %}
    {% endif %}

{% endblock %}