{% extends layoutTemplate %}

{% block page_header %}
    <div class="page-btns">
        <a href="{{ app.session.get('lastListingsUri')? app.session.get('lastListingsUri') : path('listings') }}" class="btn pull-left"><i class="icon-arrow-left"></i> Back to {{ 'Listings'|trans({}, "messages") }}</a>
        <div class="btn-group pull-right">
            <a class="btn" href="javascript:if(window.print)window.print()" ><i class="icon-print"></i> Print</a> 
            {% if is_granted("ROLE_ADMIN") %}
                <a class="btn edit-btn" href="{{ listingAdmin.generateObjectUrl('edit', listing) }}" ><i class="icon-pencil"></i> Edit</a> 
            {% endif %}
        </div>
        <div style="clear: both; line-height: 0px;">&nbsp;</div>
    </div>
    <h1 id="profile-heading">{{ listing.name }}</h1>
{% endblock %}

{% block content %}
        
    {% if listing.location.lat is defined and listing.location.lat != "" and listing.location.lng is defined and listing.location.lng != "" %}
        <script type="text/javascript">
            {% include 'CCETCDirectoryBundle:Directory:_profile_marker_object.js.twig' %}
                
            $(document).ready(function() {
                profileMapInit();
            });
        </script>
    {% endif %}

    <div class="row">
        <div class="span7">
            <div class="profile-meta">
                {# {% include 'CCETCDirectoryBundle:Directory:_listing_attribute_labels.html.twig' %} #}
            </div>
            {% if listing.webPath is defined and listing.webPath != "" %}
                <p>
                    <img class="listing-photo" src="{{ asset(listing.webPath) }}" />
                </p>
            {% endif %}
            <p class="well">
                {{ listing.description? listing.description|nl2br : 'No Description Available' }}
            </p>
            
        </div>       
        <div class="span5">
            {% if listing.location.lat is defined and listing.location.lat != "" and listing.location.lng is defined and listing.location.lng != "" %}
                <div id="map-canvas" class="profile-map"></div>
            {% endif %}

            <div class="well">
                <h4><i class="icon-map-marker"></i> Location</h4>
                {% include 'CCETCDirectoryBundle:Directory:_listing_address.html.twig' %}
            </div>
            <div class="well">
                <h4><i class="icon-envelope"></i> Contact</h4>
                {% include 'CCETCDirectoryBundle:Directory:_listing_contact.html.twig' %}    
            </div>
        </div>
    </div>
{% endblock %}