{% extends layoutTemplate %}

{% block page_header %}
    <h2>{{ 'Add your'|trans }} {{ listingType.translationKey|capitalize|trans }}</h2>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            {% if form_errors(form) %}
                <div class="alert alert-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            {% block pre_form %}
            {% endblock %}
                
            {% block form %}                
                <form novalidate class="signup-form form-horizontal" action="{{ path(listingType.signupRouteName) }}" method="post" {{ form_enctype(form) }}>
                    {% for label, fields in fieldsets %}
                        <fieldset>
                            <legend>{{ label }}</legend>
                            {% for field in fields %}
                                {{ form_row(attribute(form, field)) }}
                            {% endfor %}
                        </fieldset><br/>
                    {% endfor %}
                    {{ form_rest(form) }}
                    
                    <div class="form-actions">
                        <button type="submit" class="btn btn-large btn-primary" id="signup-submit" data-loading-text="Submitting...">Sign Up</button>
                    </div>
                </form>   
            {% endblock %}             
        </div>
    </div>
{% endblock %}